In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/Iowa_Liquor_Sales_dirty.csv",low_memory=False)

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
df['State']= 'Iowa'

In [6]:
df.columns = [x.replace(' ', '') for x in df.columns]
df.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)', 'State'],
      dtype='object')

In [7]:
# Find the columns where every value is null
empty_cols = [col for col in df.columns if df[col].isnull().all()]
# Drop these columns
df.drop(empty_cols,
        axis=1,
        inplace=True)

df.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)', 'State'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12591077 entries, 0 to 12591076
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   Invoice/ItemNumber   object
 1   Date                 object
 2   StoreNumber          int64
 3   StoreName            object
 4   Address              object
 5   City                 object
 6   ZipCode              object
 7   StoreLocation        object
 8   CountyNumber         float64
 9   County               object
 10  Category             float64
 11  CategoryName         object
 12  VendorNumber         float64
 13  VendorName           object
 14  ItemNumber           int64
 15  ItemDescription      object
 16  Pack                 int64
 17  BottleVolume(ml)     int64
 18  StateBottleCost      object
 19  StateBottleRetail    object
 20  BottlesSold          int64
 21  Sale(Dollars)        object
 22  VolumeSold(Liters)   float64
 23  VolumeSold(Gallons)  float64
 24  State                object
dtypes: float64(5), int64(5), object(15)
memory usage: 2.3+ GB

In [9]:
df.head(2)

,Invoice/ItemNumber,Date,StoreNumber,StoreName,Address,City,ZipCode,StoreLocation,CountyNumber,County,...,ItemDescription,Pack,BottleVolume(ml),StateBottleCost,StateBottleRetail,BottlesSold,Sale(Dollars),VolumeSold(Liters),VolumeSold(Gallons),State
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.5,1.19,Iowa
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.0,2.38,Iowa

In [10]:
df.drop(columns=['StoreLocation'], inplace=True)

df.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'CountyNumber', 'County', 'Category', 'CategoryName',
       'VendorNumber', 'VendorName', 'ItemNumber', 'ItemDescription', 'Pack',
       'BottleVolume(ml)', 'StateBottleCost', 'StateBottleRetail',
       'BottlesSold', 'Sale(Dollars)', 'VolumeSold(Liters)',
       'VolumeSold(Gallons)', 'State'],
      dtype='object')

In [12]:
df.to_csv("../data/Iowa_Liquor_Sales.csv", index=False)